<div id="slideshow">
  <ul class="rslides">
    {% for slide in slides %}
    <li>
      <img src="{{ slide.url }}" alt="{{ slide.alt }}">
      <p class="caption-slideshow">{{ slide.caption }}.</p>
    </li>
    {% endfor %}
  </ul>
</div>
